 <div class="about-me-content">
                            <div class="about-me-img">
                                <img src="assets/images/food-me.jpg" alt="" class="img-me img-circle">
                                <h2 class="text-uppercase">Kotha Smith</h2>
                                <p>Kotha Smith is an enthusiastic and passionate Story Teller. He loves to do different
                                    home-made things
                                    and share to the world.</p>
                            </div>
                        </div>
                        <div class="social-share">
                            <ul class="list-inline">
                                <!--<li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>-->
                                <!--<li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>-->
                                <!--<li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>-->
                                <!--<li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>-->
                                <li><a class="s-instagram" href="https://www.instagram.com/bitesoftheworldmx/?hl=es"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>