<div class="about-me-content">
    <div class="about-me-img">
        <img src="assets/images/mexfood.jpg" alt="" class="img-me img-circle">
        <h2 class="text-uppercase">Bites of the World</h2>
        <p>Of the many pleasures of life, one that I enjoy is food. Here you will find information
            about food, travel and more. 
        </p>
    </div>
</div>
<div class="social-share">
    <ul class="list-inline">
        {{> social}}
    </ul>
</div>