<!--Este es el carrusel incial de fotos-->
<div id="food-feature-carousel">
    <div class="item">
        <div class="feature-food-post">
            <a href="/be-happy-in-zakopane-lake-morskie-oko-gravitational-slide"><img src="assets/images/bitesoftheworldmx-zakopane-cafe-min.jpg"
                    alt="Zakopane" title="Zakopane"></a>
            <div class="category-caption text-center">
                <a href="/travel-post" class="post-cat text-uppercase">Travel</a>
                <h2><a href="/be-happy-in-zakopane-lake-morskie-oko-gravitational-slide">Morskie Oko Lake</a></h2>
                <p class="date">September 20, 2020</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="feature-food-post">
            <a href="/restaurant-pole-mokotowskie-park-summer-grill-bar-pub-lolek"><img src="assets/images/bitesoftheworldmx-publolek-main.JPEG" alt="Pub Lolek"
                    title="Pub Lolek"></a>
            <div class="category-caption text-center">
                <a href="/food-post" class="post-cat text-uppercase">Food</a>
                <h2><a href="/restaurant-pole-mokotowskie-park-summer-grill-bar-pub-lolek">Grill in the Park</a></h2>
                <p class="date">July 26, 2020</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="feature-food-post">
            <a href="/nice-food-restaurant-poland-warsaw-flaming-and-co-with-terrace"><img
                    src="assets/images/bitesoftheworldmx-flaming-entrance-min.JPEG" alt="Flaming and Co."
                    title="Restaurant Flamin Co."></a>
            <div class="category-caption text-center">
                <a href="/food-post" class="post-cat text-uppercase">Food</a>
                <h2><a href="/nice-food-restaurant-poland-warsaw-flaming-and-co-with-terrace">Best Food in Warsaw</a>
                </h2>
                <p class="date">June 13, 2020</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="feature-food-post">
            <a href="/kindle-books-must-read-management"><img src="assets/images/bitesoftheworldmx-readingoutside.jpg"
                    alt="Must Read Books" title="Must Read Management Books"></a>
            <div class="category-caption text-center">
                <a href="/travel-post" class="post-cat text-uppercase">Travel</a>
                <h2><a href="/kindle-books-must-read-management">Must Read Management Books</a></h2>
                <p class="date">June 5, 2020</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="feature-food-post">
            <a href="/garden-restaurant-park-cafe-konstancin"><img
                    src="assets/images/bitesoftheworldmx-parkcafe-board.jpeg" alt="Park Cafe Board"
                    title="Park Cafe Konstancin"></a>
            <div class="category-caption text-center">
                <a href="/food-post" class="post-cat text-uppercase">Food </a>
                <h2><a href="/garden-restaurant-park-cafe-konstancin">Park Cafe</a></h2>
                <p class="date">May 29, 2020</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="feature-food-post">
            <a href="/best-mexican-food-in-warsaw"><img src="assets/images/bitesoftheworldmx-mexicanfood.jpg"
                    alt="Mexican Food" title="Mexican Food"></a>
            <div class="category-caption text-center">
                <a href="/food-post" class="post-cat text-uppercase">Food</a>
                <h2><a href="/best-mexican-food-in-warsaw">Best Mexican Food in Warsaw</a></h2>
                <p class="date">May 23, 2020</p>
            </div>
        </div>
    </div>
    
</div>