<div class="entry-header text-center">
    <a href="/coming-soon" class="post-cat text-uppercase">Travel</a>
    <h2><a href="/data-coronavirus-poland-and-mexico">Coronavirus Information</a></h2>
</div>
<div class="entry-content">
    <p>This will sound strange as this is a blog dedicated to food and travel but at this time, 
        I will create a post regarding Coronavirus. I want to have data that tell me if we are 
        really slowing down the “curve” and how this is impacting the economy. We have already 
        seen the restaurants been close and less and less people in the traffic. Is really people 
        following the  #stayathome? Is there being a reduction on amount of cases? Beside of 
        the information that we see in the news is really the economy slowing down? This is just 
        information for Poland and Mexico since is the 2 countries that worry me more, but if 
        you would like your country to be added send me an email and I will put on the analysis. 
    </p>
    <br>

</div>