<div class="entry-header text-center">
    <a href="/coming-soon" class="post-cat text-uppercase">Food</a>
    <h2><a href="/online-classes-during-lockdown">Online Cooking Class</a></h2>
</div>
<div class="entry-content">
    <p>If you, like me, like to go out to <em>restaurants</em> on the weekends, after 7 weeks of lockdown probably are
        missing that experience. I have been doing different things to have the same experience; <b>ordering to
            home</b>, <b>grilling</b> and now I take <b>online cooking classes</b>. This was a class offered by
        <em>CityHandlowy</em> and <em>Ulala Chef</em>. This was sure an interesting thing to do during this lockdown.
    </p>
    </br>

</div>