<div class="post-thumb">
    <a href="/nice-food-restaurant-poland-warsaw-flaming-and-co-with-terrace"><img itemprop="image"
            src="assets/images/bitesoftheworldmx-flaming-garden-min.jpeg" title="Restaurant Flaming and Co."
            alt="restaurant Flaming and Co."></a>
</div>
<div class="post-content">

    <div class="entry-header text-center">
        <a href="/food-post" class="post-cat text-uppercase">Food</a>
        <h1><span itemprop="headline"><a href="/nice-food-restaurant-poland-warsaw-flaming-and-co-with-terrace">Perfect
                    Place for Any Dinner in Warsaw</a></span>
        </h1>
    </div>
    <div itemprop="abstract" class="entry-content">
        <p>
            If you are looking for a <strong>nice restaurant</strong> with terrace the <a
                href="http://www.flaming-co.com/" title="Restauran Flaming and Co." rel="external">Flaming and Co.</a>
            Restaurant is the
            place to go. Food is excellent, the <em>service</em> is super, and I recommend to go either with your kids
            and wife or in a romantic dinner with your beloved one. This restaurant is jewel in the middle of Warsaw and
            a <strong>must go restaurant</strong> while you are in Warsaw.
        </p>
        </br>

    </div>

    <div class="continue-reading text-center text-uppercase">
        <a href="/nice-food-restaurant-poland-warsaw-flaming-and-co-with-terrace">Continue Reading</a>
    </div>
    <div class="post-meta">
        <ul class="pull-left list-inline author-meta">
            <li class="author">By Netzwerk</a></li>
            <li class="date"> On June 13, 2020</li>
        </ul>
        <ul class="pull-right list-inline social-share">
            {{> social}}
        </ul>
    </div>
</div>