<div class="entry-header text-center">
    <a href="/coming-soon" class="post-cat text-uppercase">Food</a>
    <h2><a href="/coronavirus">Coronavirus</a></h2>
</div>
<div class="entry-content">
    <p>When I created this blog, I was thinking this would be about writing and
        sharing my experience on restaurants that I will visit with my family or
        friends. Unfortunately, this Coronavirus outbreak basically has changed
        my plans, and the plans of everyone, I am sure. I will tell you a little
        about me, I am a Mexican that due to my work I was sent to Warsaw, Poland.
        I am married and have 2 sons. So far, my experience in Warsaw, and even
        with the outbreak, has been very good. I have found some good restaurants
        that I will like to share with everyone. But coming back to my blog this
        outbreak has change a little the perspective and I want to tell you my
        experience so far.
    </p>
    <br>

</div>