<div class="entry-header text-center">
    <a href="/coming-soon" class="post-cat text-uppercase">Food</a>
    <h1><a href="/best-mexican-food-in-warsaw">Best Mexican Food In Warsaw</a></h1>
</div>
<div class="entry-content">
    <p>
        Now the lockdown rules have relaxed is time to start going back to restaurants. Today I share with you my
        opinion of the best restaurants in <b>Warsaw</b>. They have help me to miss less the food from my country and I
        hope they gave you some moment of joy and delicious <em>food</em>.
    </p>
    </br>

</div>