<div class="entry-header text-center">
    <a href="/coming-soon" class="post-cat text-uppercase">Food</a>
    <h2><a href="/steak-at-poland">Having a Good Steak at Warsaw</a></h2>
</div>
<div class="entry-content">
    <p>So, I decide to give me a break from the <em>Coronavirus</em> data I have been analyzing for the past weeks. If
        you want to see the latest graph of the <em>Coronavirus</em> data you can click <a
            href="/data-coronavirus-poland-and-mexico">here</a>.
    </p>
    <br>
    <p>If you are from the north part of <b>Mexico</b> like me, one of the things that you might be missing is the
        traditional <em>carne asada</em>. Getting a good steak at Warsaw might be difficult to find because it is not as
        easy as you can get it on <b>Monterrey</b>, or as cheap. So, look to my post so I can share my experience with
        you. </p>
    </br>

</div>