<div class="post-thumb">
    <a href="/garden-restaurant-park-cafe-konstancin"><img itemprop="image" src="assets/images/bitesoftheworld-parkcafe-niceview.jpeg"
            alt="Park Cafe View Garden"></a>
</div>
<div class="post-content">

    <div class="entry-header text-center">
        <a href="/food-post" class="post-cat text-uppercase">Food</a>
        <h1><span itemprop="headline"><a href="/garden-restaurant-park-cafe-konstancin">Park Cafe Konstancin</a></span></h1>
    </div>
    <div itemprop="abstract" class="entry-content">
        <p>
            In these new times of “normality”, going out to <em>restaurants</em> is still kind of “strange” for some us.
            Anyway, I try a place called <b>Park Café</b> in Konstancin. This is a very nice <em>restaurant</em> with a
            beautiful garden, with space for the kids to place and a place that you can enjoy with friends and wine or a
            beer. Here you have enough <em>social distancing</em> between all tables.
        </p>
        </br>

    </div>

    <div class="continue-reading text-center text-uppercase">
        <a href="/garden-restaurant-park-cafe-konstancin">Continue Reading</a>
    </div>
    <div class="post-meta">
        <ul class="pull-left list-inline author-meta">
            <li class="author">By Netzwerk</a></li>
            <li class="date"> On May 29, 2020</li>
        </ul>
        <ul class="pull-right list-inline social-share">
            {{> social}}
        </ul>
    </div>
</div>