<h2 class="widget-title text-uppercase text-center">Latest Posts</h2>
<ul>
    <li class="media">
        <div class="media-left">
            <a href="/garden-restaurant-park-cafe-konstancin" class="popular-img"><img
                    src="assets/images/bitesoftheworld-parkcafe-niceview.jpeg" alt="Park Cafe Konstancin">
            </a>
        </div>
        <div class="latest-post-content">
            <h2 class="text-uppercase"><a href="/garden-restaurant-park-cafe-konstancin">Park Cafe Konstancin</a></h2>
            <p>May 29, 2020</p>
        </div>
    </li>
    <li class="media">
        <div class="media-left">
            <a href="/kindle-books-must-read-management" class="popular-img"><img
                    src="assets/images/bitesoftheworld-ninelies-min.jpg" style="width:50%;height:auto"
                    alt="Kindle How Google Works">
            </a>
        </div>
        <div class="latest-post-content">
            <h2 class="text-uppercase"><a href="/kindle-books-must-read-management">Best Management Books To Read While
                    Traveling</a></h2>
            <p>June 5, 2020</p>
        </div>
    </li>
    <li class="media">
        <div class="media-left">
            <a href="/nice-food-restaurant-poland-warsaw-flaming-and-co-with-terrace" class="popular-img"><img
                    src="assets/images/bitesoftheworldmx-flaming-garden-min.JPEG" alt="Enchiladas">
            </a>
        </div>
        <div class="latest-post-content">
            <h2 class="text-uppercase"><a href="/nice-food-restaurant-poland-warsaw-flaming-and-co-with-terrace">Great
                    Place for Business Dinners</a></h2>
            <p>Jun 13, 2020</p>
        </div>
    </li>

</ul>