<h2 class="widget-title text-uppercase text-center">Latest Posts</h2>
<ul>
    <li class="media">
        <div class="media-left">
            <a href="#" class="popular-img"><img src="assets/images/recent-1.jpg" alt="">
            </a>
        </div>
        <div class="latest-post-content">
            <h2 class="text-uppercase"><a href="#">A Theme to Tell Stories</a></h2>
            <p>May 27, 2017</p>
        </div>
    </li>
    <li class="media">
        <div class="media-left">
            <a href="#" class="popular-img"><img src="assets/images/recent-2.jpg" alt="">
            </a>
        </div>
        <div class="latest-post-content">
            <h2 class="text-uppercase"><a href="#">Just Wondering at Beach</a></h2>
            <p>April 20, 2017</p>
        </div>
    </li>
    <li class="media">
        <div class="media-left">
            <a href="#" class="popular-img"><img src="assets/images/recent-3.jpg" alt="">
            </a>
        </div>
        <div class="latest-post-content">
            <h2 class="text-uppercase"><a href="#">Lorem Ipsum Dolor sit amet</a></h2>
            <p>May 27, 2017</p>
        </div>
    </li>
    <li class="media">
        <div class="media-left">
            <a href="#" class="popular-img"><img src="assets/images/recent-4.jpg" alt="">
            </a>
        </div>
        <div class="latest-post-content">
            <h2 class="text-uppercase"><a href="#">Lorem Ipsum Dolor sit amet</a></h2>
            <p>April 20, 2017</p>
        </div>
    </li>
</ul>