<h2 class="widget-title text-uppercase text-center">Latest Posts</h2>
<ul>
    <li class="media">
        <div class="media-left">
            <a href="/best-mexican-food-in-warsaw" class="popular-img"><img src="assets/images/bitesoftheworldmx-enchiladas.jpg" alt="Enchiladas">
            </a>
        </div>
        <div class="latest-post-content">
            <h2 class="text-uppercase"><a href="/best-mexican-food-in-warsaw">Best Mexican Food in Warsaw</a></h2>
            <p>May 23, 2020</p>
        </div>
    </li>
    <li class="media">
        <div class="media-left">
            <a href="/garden-restaurant-park-cafe-konstancin" class="popular-img"><img src="assets/images/bitesoftheworld-parkcafe-niceview.jpeg" alt="Park Cafe Konstancin">
            </a>
        </div>
        <div class="latest-post-content">
            <h2 class="text-uppercase"><a href="/garden-restaurant-park-cafe-konstancin">Park Cafe Konstancin</a></h2>
            <p>May 29, 2020</p>
        </div>
    </li>
     <li class="media">
        <div class="media-left">
            <a href="/kindle-books-must-read-management" class="popular-img"><img src="assets/images/bitesoftheworld-ninelies-min.jpg" alt="Kindle How Google Works">
            </a>
        </div>
        <div class="latest-post-content">
            <h2 class="text-uppercase"><a href="/kindle-books-must-read-management">Best Management Books To Read While Traveling</a></h2>
            <p>June 5, 2020</p>
        </div>
    </li>
    
</ul>