<h2 class="widget-title text-uppercase text-center">Latest Posts</h2>
<ul>
    <li class="media">
        <div class="media-left">
            <a href="/best-mexican-food-in-warsaw" class="popular-img"><img src="assets/images/bitesoftheworldmx-enchiladas.jpg" alt="Enchiladas">
            </a>
        </div>
        <div class="latest-post-content">
            <h2 class="text-uppercase"><a href="/best-mexican-food-in-warsaw">Best Mexican Food in Warsaw</a></h2>
            <p>May 23, 2020</p>
        </div>
    </li>
    
</ul>