<article class="single-blog post-grid">
    <div class="post-thumb">
        <a href="/trattoria-da-antonio"><img src="assets/images/tratoria7.jpeg" alt="Trattoria Da Antonio"></a>
    </div>
    <div class="post-content">
        <div class="entry-header text-center text-uppercase">
            <a href="/food-post" class="post-cat text-uppercase">Food</a>
            <h2><a href="/trattoria-da-antonio">Tratorria Da Antonio</a></h2>
        </div>
        <div class="entry-content">
            <p>
                If you are looking for a nice Italian restaurant with good food and good
                atmosphere this is the place to go. 
            </p>
        </div>
        <div class="post-meta text-center">
            <ul class="list-inline author-meta">
                <li class="author">By Netzwwerk </a></li>
                <li class="date"> On March 8, 2020</li>
            </ul>
        </div>
    </div>
</article>