<article class="single-blog post-grid">
    <div class="post-thumb">
        <a href="/nice-food-restaurant-poland-warsaw-flaming-and-co-with-terrace"><img
                src="assets/images/bitesoftheworldmx-flaming-garden-min.JPEG" alt="Flaming and Co. Restaurant"></a>
    </div>
    <div class="post-content">
        <div class="entry-header text-center text-uppercase">
            <a href="/food-post" class="post-cat text-uppercase">Food</a>
            <h2><a href="/nice-food-restaurant-poland-warsaw-flaming-and-co-with-terrace">Perfect
                    Place in Downtown Warsaw</a></h2>
        </div>
        <div class="entry-content">
            <p>
                If you are looking for a romantic dinner or a business dinner or a place to
                have lunch with the family this is the perfect place. You can relax in the
                nice garden while have a nice glass of wine and one the best foods of
                Warsaw.
            </p>
        </div>
        <div class="post-meta text-center">
            <ul class="list-inline author-meta">
                <li class="author">By Netzwwerk </a></li>
                <li class="date"> On June 13, 2020</li>
            </ul>
        </div>
    </div>
</article>