<article class="single-blog post-grid">
    <div class="post-thumb">
        <a href="/best-mexican-food-in-warsaw"><img src="assets/images/bitesoftheworldmx-enchiladas.jpg"
                alt="Enchiladas"></a>
    </div>
    <div class="post-content">
        <div class="entry-header text-center text-uppercase">
            <a href="/food-post" class="post-cat text-uppercase">Food</a>
            <h2><a href="/best-mexican-food-in-warsaw">Best Mexican Food In Warsaw</a>
            </h2>
        </div>
        <div class="entry-content">
            <p>
                Believe it or not you can get very good restaurants of Mexican food in
                Warsaw. I
                hope you like spicy because in them you can try the real flavors of
                Mexico.
            </p>
        </div>
        <div class="post-meta text-center">
            <ul class="list-inline author-meta">
                <li class="author">By Netzwerk</li>
                <li class="date"> On May 23, 2020</li>
            </ul>
        </div>
    </div>
</article>