<li><a href="https://www.facebook.com/bitesoftheworldmx"><i class="fa fa-facebook"></i></a></li>
<li><a href="https://twitter.com/bitesworld_mx"><i class="fa fa-twitter"></i></a></li>
<li><a href="https://www.instagram.com/bitesoftheworldmx/?hl=es"><i class="fa fa-instagram"></i></a></li>
<!--<li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
<!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->