<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Document Settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Page Title -->
    <title>Bites of the World</title>
    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i%7cOswald:300,400,500,600,700%7cPlayfair+Display:400,400i,700,700i"
        rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/style.css">
	<meta name="google-site-verification" content="Bbqb_72sPvKfWTiNPn0eRuRPtTf-FEmXIMLhUp-qJFA" />
	<meta name="google-site-verification" content="VpF895vbYJnD3_yYXL2rqw4Ziy8UOfqF6SNtzqGXwQ0" />
    <!-- HTML5 shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.js"></script>
	<![endif]-->
</head>

<body>
    <header class="kotha-menu marketing-menu">
	<nav class="navbar  navbar-default">
		<div class="container">
			<div class="menu-content">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					        data-target="#myNavbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="top-social-icons list-inline pull-right">
						{{> social}}
						<!--<li class="top-search">
							<a href="#" class="sactive"><i class="fa fa-search"></i></a>
						</li>-->
					</ul>
					<ul class="nav navbar-nav text-uppercase pull-left">
						<li><a href="/">Home</a></li>
                        <li><a href="/coming-soon">Food</a></li>
						<li><a href="/coming-soon">Travel</a></li>
						<li><a href="/coming-soon">About me</a></li>
						<li><a href="/coming-soon">Contact</a></li>
					</ul>
				</div>
				<div class="show-search">
					<form role="search" method="get" id="searchform" action="#">
						<input type="text" placeholder="Search and hit enter..." name="s" id="s">
					</form>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</nav>
	<div class="kotha-logo text-center">
		<h1><a href="index.html"><img src="assets/images/food-logo.png" alt="KothaPro"></a></h1>
	</div>
</header>

    {{{body}}}

<div class="container-fluid insta-feed text-center">
	<h2 class="text-uppercase">Follow@ <a href="https://www.instagram.com/bitesoftheworldmx/?hl=es">Instagram</a></h2>
	<div id="footer-instagram" class="footer-insta">
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-1.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-2.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>

		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-3.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>

		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-4.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-5.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-6.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-7.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="assets/images/ft-insta-8.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<div class="footer-widget-row">
			<div class="footer-widget contact-widget">
				<div class="widget-title">
					<img src="assets/images/ft-logo.png" alt="">
				</div>
				<p>At Bites of World we like to enjoy life. We like to eat and we like to travel.
                    Life is about the collecting these small pleasures of life.
                </p>
				<div class="address">
					<h4 class="text-uppercase">contact Info</h4>
					<a href="mailto:netzwerk@gmail.com">netzwerk@gmail.com</a>
				</div>
			</div>
            
			<div class="footer-widget twitter-widget" >
				<h2 class="widget-title text-uppercase">
					Latest TWeeTs
				</h2>
				<div id="tweetZone">

				</div>
				<!--<div class="single-tweet">
					<p>Check our new theme 'kotha - Personal WordPress Blog Theme' on #themeforest #Envato
						#WordPress <br>
						<a href="https://t.co/kN5OPEuPzx">https://t.co/kN5OPEuPzx</a></p>
					<h4><i class="fa fa-twitter"></i>Tweeted on 17 hours ago</h4>
				</div>
				<div class="single-tweet">
					<p>Check our new theme 'kotha - Personal WordPress Blog Theme' on #themeforest #Envato
						#WordPress
						<br>
						<a href="https://t.co/kN5OPEuPzx">https://t.co/kN5OPEuPzx</a></p>
					<h4><i class="fa fa-twitter"></i>Tweeted on 17 hours ago</h4>
				</div>-->
			</div>
            <!--
			<div class="footer-widget testimonial-widget">
				<h2 class="widget-title text-uppercase">Testimonials</h2>
				<div id="myCarousel" class="carousel slide" data-ride="carousel">-->
					<!--Indicator-->
					<!--<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class=""></li>
						<li data-target="#myCarousel" data-slide-to="1" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="2" class=""></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item">
							<div class="single-review">
								<div class="review-text">
									<p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
										tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
										vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
										magna aliquyam eratma</p>
								</div>
								<div class="author-id">
									<img src="assets/images/author.png" alt="">
									<div class="author-text">
										<h4>Sophia</h4>
										<h4>CEO, ReadyTheme</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="item active">
							<div class="single-review">
								<div class="review-text">
									<p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
										tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
										vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
										magna aliquyam eratma</p>
								</div>
								<div class="author-id">
									<img src="assets/images/author.png" alt="">
									<div class="author-text">
										<h4>Sophia</h4>
										<h4>CEO, ReadyTheme</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="single-review">
								<div class="review-text">
									<p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
										tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
										vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
										magna aliquyam eratma</p>
								</div>
								<div class="author-id">
									<img src="assets/images/author.png" alt="">

									<div class="author-text">
										<h4>Sophia</h4>
										<h4>CEO, ReadyTheme</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>-->
		</div>
	</div>
	<div class="container-fluid text-center ft-copyright">
		<p>&copy;  2017   <a href="">Kotha PRO </a> - Designed with <i class="fa fa-heart"></i> by <a href="http://shapedtheme.com">ShapedTheme</a></p>
	</div>
</footer>
<div class="scroll-up">
	<a href="#"><i class="fa fa-angle-up"></i></a>
</div>

<!--//Script//-->
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="/assets/js/jquery-1.12.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>

</html>