<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="post-area single-blog">
                    <div class="about-me">
                        <div class="about-img text-center">
                            <img src="assets/images/bitesoftheworldmx-aboutme-min.jpg" alt="ABout Me Picture" class="img-circle">
                        </div>
                        <div class="about-me-text">
                            <p>Bites of the World is a blog for anyone looking for places to eat and go with children.
                                I am a Mexican living in Warsaw so most of the ideas will be from Warsaw or Monterrey Mexico.
                                You will find plenty of ideas of places that are child friendly and delicious.<br>
                                I am 41 years old and a father of two boys. I write this blog as a hobby and as an idea to share
                                my experiences with you. 
                    
                            </p>
                        </div>
                    </div>
                    
                    
                </article>
            </div>
            <div class="col-sm-4">
                <div class="kotha-sidebar">
                    <aside class="widget about-me-widget  text-center">
                        {{> about}}
                    </aside>

                    <aside class="widget insta-widget">
                        {{> insta}}
                    </aside>

                </div>
            </div>
        </div>
    </div>
</div>