<div itemscope itemtype="http://schema.org/BlogPosting" class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="single-blog">
                    <div id="infoBlog" style="display: none;">
                        <span itemprop="datePublished">2020-06-05</span>
                        <span itemprop="dateModified">2020-06-05</span>
                        <span itemprop="author">Bites of the World</span>
                        <a itemprop="mainEntityofPage"
                            href="https://www.bitesoftheworld.mx/kindle-books-must-read-management">https://www.bitesoftheworld.mx/kindle-books-must-read-management</a>
                        <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                            <span itemprop="name">Bites of the World</span>
                            <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                                <img itemprop="url" src="assets/images/Galleta_recorte.jpg"
                                    alt="Logo Bites of the World" title="Logo Bites of the World">
                            </div>

                        </div>

                    </div>
                    <div class="post-thumb text-center">
                        <img itemprop="image" src="assets/images/bitesoftheworld-howgoogleworks-min.jpg"
                            alt="How Google Works" title="How Google Works" style="width:30%;height:auto">
                    </div>
                    <div class="post-content">
                        <div class="entry-header text-center text-uppercase">
                            <a href="/travel-post" class="post-cat">Travel</a>
                            <h1><span itemprop="headline">Must Read Management Books That Can be Found for Kindle</span>
                            </h1>
                        </div>

                        <div class="entry-content">
                            <h2 class="text-brand">How Google Works</h2>
                            <p>
                                <span itemprop="articlebody">
                                    Now that the weather is nicer outside or if you have started to travel, I would
                                    recommend my favorite <strong>management books</strong>. These books have either
                                    broke a <em>paradigm</em> of my ideas or it has brought to me new ideas that I can
                                    apply at work. I hope you find this selection useful as it was useful to me. The
                                    first <em>book</em> I would recommend is <a title="How Goolge Works Kindle"
                                        rel="external" href="https://amzn.to/2XZwNt4">How Google Works</a>. For a lot of
                                    us
                                    that don’t work on the internet business is always intriguing how these companies
                                    work and why they are recruiting a lot of people from the new generations. I work on
                                    the automotive industry so you can imagine how different my industry is to Google
                                    but there a lot of things that can be learn from the way that Google works. For me
                                    the most important <em>concept</em> I learn from this book is the importance of
                                    <strong>hiring</strong>. Most of the time, us as manager forget about this aspect or
                                    leave it to HR because we found it to time consuming, but creating a good team is
                                    one of the most important things that we should do and here Google give us some tips
                                    about how to do it. Interviewing is a skill that is not commonly being teach to us
                                    that have not HR background and that is critical skill to assure that you are
                                    bringing to your team <em>talented people</em>.
                                </span>
                            </p>


                            <img class="post-img img-responsive text-center"
                                src="assets/images/bitesoftheworld-smaterfasterbetter-min.jpg"
                                alt="Smarter Faster Better" title="Smarter Faster Better">

                            <h2 class="text-brand">Smarter Faster Better</h2>



                            <p>
                                The second <strong>book</strong> is <a title="Smarter Faster Better Kindle"
                                    rel="external" href="https://amzn.to/3dCuLFZ">Smarter Faster Better</a>. This
                                <em>book</em>
                                talks about how to <strong>boost productivity</strong> of the people. The idea that I
                                took from this book is to create psychological safety to the teams so they can boost
                                their potential. I have been many times in situation where I have seen coworkers being
                                push out from thinking and just making them following directions and here is where you
                                lost the potential of your team. Myself I have been on those situations where you don’t
                                feel that much appreciate and therefore you lose the confidence to do different things.
                                Creating this safety to the teams can really <em>boost</em> their potential and their
                                contribution to you as a manager. At the end the manager is as good as his team is, so
                                the most important thing to do is to encourage them to do their best.
                            </p>


                            <img class="post-img img-responsive text-center"
                                src="assets/images/bitesoftheworld-outliers-min.jpg" alt="Outliers Book"
                                title="Outliers Book">


                            <h2 class="text-brand">Outliers</h2>


                            <p>
                                The next book is <a title="Outliers Kindle" rel="external"
                                    href="https://amzn.to/2ADeqST">Outliers</a>. I guess now with the Netflix
                                Documentary of Michael Jordan we
                                all ask the same question why some <strong>people succeed</strong>, and others don’t.
                                Outliers is a book that will talk about this. If you are managing people, I am pretty
                                sure you have heard about the <em>10,000 hours rule</em> to have a skill, this is where
                                is explained. I am pretty sure you will find all the ideas of this books paradigm
                                breakers as it did for me.
                            </p>

                            <img class="post-img img-responsive text-center"
                                src="assets/images/bitesoftheworld-ninelies-min.jpg" alt="Nine Lies About Work Book"
                                title="Nine Lies About Work Book">


                            <h2 class="text-brand">Nine Lies About Work</h2>


                            <p>
                                And finally, the last book I read about <strong>management</strong>, <a
                                    title="Nine Lines About Work Kindle" rel="external"
                                    href="https://amzn.to/30aAT4h">Nine Lies about
                                    Work</a>. When I started reading this book and when I saw the chapters I was
                                thinking that they will be wrong on everything, but as you continue reading you found
                                out that on reality you have always work with these lies. If you need to take something
                                for me is the <strong>8 aspects to predict sustained team performance</strong>. As I
                                keep reading them the most, I believe in them. All managers should keep these 8 items
                                close to their desk and look at them every day. We should make sure that we everyday
                                nourish these principles to make sure our teams are going to the right direction and
                                boosting their performance. Another interesting paradigm about this book is regarding
                                feedback and the way we give feedback to our team. A must read.
                            </p>


                            </br>

                            <h3 class="text-brand">Smacznego!</h3>
                            <p>
                                Now that the <strong>Coronavirus</strong> prevention measure are being relaxed I invite
                                you not put your guard down. It is very important that each of us take care of ourselves
                                or the other to avoid a second outbreak. Let’s make sure that at least the
                                <strong>social distancing</em> is being kept.
                            </p>

                            <div class="post-meta">
                                <ul class="pull-left list-inline author-meta">
                                    <li class="author">By Netzwerk</li>
                                    <li class="date">On June 5, 2020</li>
                                </ul>
                                <ul class="pull-right list-inline social-share">
                                    {{> social}}
                                </ul>
                            </div>
                        </div>
                </article>


            </div>
            <div class="col-sm-4">
                <div class="kotha-sidebar">
                    <aside class="widget about-me-widget  text-center">
                        {{> about}}
                    </aside>

                    <aside class="widget insta-widget">
                        {{> insta}}
                    </aside>
                    <!--Popular Post-->

                    <aside class="widget widget-popular-post">
                        {{> popular}}
                    </aside>
                    <!--Latest Post-->

                    <aside class="widget latest-post-widget">
                        {{> latest}}
                    </aside>

                    <aside class="widget add-widget">
                        {{> advertisment}}
                    </aside>

                </div>
            </div>
        </div>
        <div id="amzn-assoc-ad-2377fbe1-996a-4f4b-b323-66f2e3660f8e"></div>
    </div>
</div>

<