<div class="comingsoon">
    <div id="comingsoon-wrap" class="comingsoon-wrap text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <a href="index.html" class="comingsoon-logo text-center">
                        <img src="assets/images/kotha-white-logo.png" class="img-responsive" alt="logo">
                    </a>
                    <div class="countdown-area clearfix">
                        <ul id="countdown" class="countdown">
                            <li>
                                <span class="days">00</span>
                                <span class="time-period">Days</span>
                            </li>
                            <li>
                                <span class="hours">00</span>
                                <span class="time-period">Hours</span>
                            </li>
                            <li>
                                <span class="minutes">00</span>
                                <span class="time-period">Min</span>
                            </li>
                            <li>
                                <span class="seconds">00</span>
                                <span class="time-period">SEC</span>
                            </li>
                        </ul>
                    </div>
                    <h3 class="content">
                        We are working to bring the new site live soon! <br>
                    </h3>
                    <!--<form class="form">
                        <input type="text" placeholder="Enter your email here">
                        <input class="btn btn-primary" type="submit" value="Subscribe" name="Submit">
                    </form>-->
                    <ul class="social-share list-inline">
                       {{> social}}
                    </ul> <!-- //social-icons -->
                </div>
            </div> <!-- //row -->
        </div> <!-- //container -->
    </div>
</div>

<script src="/assets/js/jquery-1.12.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/countdown.js"></script>
