<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="single-blog">
                    <div class="post-thumb">
                        <img src="assets/images/coronavirus.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <div class="entry-header text-center text-uppercase">
                            <a href="/coming-soon" class="post-cat">Travel</a>
                            <h2>Coronavirus</h2>
                        </div>
                        <div class="entry-content">
                            <p>When I created this blog, I was thinking this would be about writing and 
                                sharing my experience on restaurants that I will visit with my family or 
                                friends. Unfortunately, this Coronavirus outbreak basically has changed 
                                my plans, and the plans of everyone, I am sure. I will tell you a little 
                                about me, I am a Mexican that due to my work I was sent to Warsaw, Poland. 
                                I am married and have 2 sons. So far, my experience in Warsaw, and even 
                                with the outbreak, has been very good. I have found some good restaurants 
                                that I will like to share with everyone. But coming back to my blog this 
                                outbreak has change a little the perspective and I want to tell you my 
                                experience so far. 
                            </p>
                            <div class="entry-content">
                            <p>First, I will tell you my experience at work, I had to take the difficult,
                                 but at the end the good decision, to start sending people to home 
                                 office. We were not able to do it for 100% of my team but at least 
                                 we can reduce the amount of people in the office and we will continue 
                                 with these until the infection rate gets controlled. Now today 14th 
                                 of March I got the first contact with the city on the quarantine 
                                 status. My wife in the past days have been going to the supermarket 
                                 and describe me how all the “panic” shopping was happening. Today 
                                 after 3 days the government decide to close the schools, I fell the 
                                 sensation of going to the supermarket.  
                            </p>
                            <img class="post-img img-responsive text-center" src="assets/images/mcdonalds.jpeg" alt="">

                            <p>Seeing a lot of shelves empty, remember me of 2009, when the Swine Flu 
                                hit Mexico. People trying to keep the distance of each other, 
                                restaurants closed and much less traffic than usual. Warsaw usually 
                                when is sunny you will see a lot of people running, in bicycles or with 
                                roller skates, today very few people where seen outside. I hope this 
                                crisis doesn’t hurt all the small restaurants that serve us every day, 
                                if you can try to order thru Uber Eats or any other application you use 
                                to have food deliver to your home, do it. It would be very difficult 
                                times for all these small enterprises, but these entrepreneurs, are 
                                the base of the economic pyramid and we should try to help them. 
                                Please don’t take this light, let’s try to protect ourselves, in order 
                                to protect our beloved ones and in order to protect the elderly in our 
                                families and in our community. I pray that this outbreak at end is 
                                not as worst as media shows it to us, and that after all we can just 
                                tell this as an anecdote and not remember as a sad time. So far, I 
                                am enjoying spending time with my family. 
                            </p>
                            

                          
                        </div>

                        <div class="post-meta">
                            <ul class="pull-left list-inline author-meta">
                                <li class="author">By <a href="#">Netzwerk </a></li>
                                <li class="date"> On March 14, 2020</li>
                            </ul>
                            <ul class="pull-right list-inline social-share">
                                {{> social}}
                            </ul>
                        </div>
                    </div>
                </article>


            </div>
            <div class="col-sm-4">
                <div class="kotha-sidebar">
                    <aside class="widget about-me-widget  text-center">
                        {{> about}}
                    </aside>
                    <!--<aside class="widget news-letter-widget">
						<h2 class="widget-title text-uppercase text-center">Get Newsletter</h2>
						<form action="#">
							<input type="email" placeholder="Your email address" required>
							<input type="submit" value="Subscribe Now"
							       class="text-uppercase text-center btn btn-subscribe">
						</form>
					</aside>-->
                    <!--<aside class="widget widget-popular-post">
						{{> popular}}
					</aside>-->
                    <!--<aside class="widget latest-post-widget">
						{{> latest}}
					</aside>-->
                    <aside class="widget insta-widget">
						{{> insta}}
					</aside>
                    <!--<aside class="widget add-widget">
						{{> advertisment}}
						</div>
					</aside>-->
                </div>
            </div>
        </div>
    </div>
</div>