<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="single-blog">
                    <div class="post-thumb">
                        <img src="assets/images/post-thumb-1.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <div class="entry-header text-center text-uppercase">
                            <a href="" class="post-cat">Travel</a>
                            <h2>Adventure to travel lonely</h2>
                        </div>
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirtempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero accusam et
                                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctusest
                                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elised
                                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sdiam
                                voluptua. At vero eos et accusam.
                            </p>
                            <img class="post-img img-responsive text-center" src="assets/images/magazine-1.jpg" alt="">
                            <h4 class="text-center">diam nonumy eirmod</h4>

                            <img class="post-img img-responsive text-center" src="assets/images/gl-10.jpg" alt="">
                            <h4 class="text-center">Justo duo dolores et</h4>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                tevidulabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                                justo duo dolores rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                                ipsum dolor sit am Lorem ipsum dolor sitconsetetur sadipscing elitr, sed diam nonumy
                                eirmod tempor invidunt ut labore et dolore maliquyam erat, sed diam voluptua.
                            </p>
                            <h3 class="text-brand">At vero accusam et
                                justo duo dolores et ea rebum.</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirtempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Stet clita kasd
                                gubergren, no sea
                                takimata sanctusest
                                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elised
                                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sdiam
                                voluptua. At vero eos et accusam.
                            </p>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirtempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero accusam et
                                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctusest
                                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elised
                                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sdiam
                                voluptua. At vero eos et accusam.
                            </p>
                            <ol>
                                <li>dolor sit amet</li>
                                <li>consetetur sadipscing</li>
                                <li>Lorem ipsum</li>
                                <li>sed diam voluptua</li>
                            </ol>
                            <p>Lorem ipsum dolor sit amet, elitr, sed diam nonumy eirtempor
                                invidunt ut labore et dolore magna aliquyam erat, . At vero accusam et
                                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctusest
                                Lorem ipsum dolor sit amet. dolor sit amet, consetetur sadipscing elised
                                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sdiam
                                voluptua. At vero eos et accusam.
                            </p>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirtempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero accusam et
                                justo duo dolores et ea rebum. sanctusest
                                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elised
                                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sdiam
                                voluptua. At vero eos et accusam.
                            </p>
                            <del class="text-muted ">Lorem ipsum dolor sit amet, consetetur sadipscing elised
                                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
                            </del>
                            <p>Lorem ipsum dolor sit amet, <abbr title="ShapedTheme">ST</abbr> consetetur sadipscing
                                elitr, sed diam
                                nonumy eirtempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero accusam et
                                justo duo dolores et ea rebum. Stet clita kasd gubergren,
                                voluptua. At vero eos et accusam.
                            </p>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirtempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero accusam et
                                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctusest
                                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elised
                                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sdiam
                                voluptua. At vero eos et accusam.
                            </p>
                        </div>

                        <div class="post-meta">
                            <ul class="pull-left list-inline author-meta">
                                <li class="author">By <a href="#">Netzwerk </a></li>
                                <li class="date"> On March 8, 2020</li>
                            </ul>
                            <ul class="pull-right list-inline social-share">
                               {{> social}}
                            </ul>
                        </div>
                    </div>
                </article>
                

            </div>
            <div class="col-sm-4">
                <div class="kotha-sidebar">
                    <aside class="widget about-me-widget  text-center">
                        {{> about}}
                    </aside>
                    <!--<aside class="widget news-letter-widget">
						<h2 class="widget-title text-uppercase text-center">Get Newsletter</h2>
						<form action="#">
							<input type="email" placeholder="Your email address" required>
							<input type="submit" value="Subscribe Now"
							       class="text-uppercase text-center btn btn-subscribe">
						</form>
					</aside>-->
                    <!--<aside class="widget widget-popular-post">
						{{> popular}}
					</aside>-->
                    <!--<aside class="widget latest-post-widget">
						{{> latest}}
					</aside>-->
                    <!--<aside class="widget insta-widget">
						{{> insta}}
					</aside>-->
                    <!--<aside class="widget add-widget">
						{{> advertisment}}
						</div>
					</aside>-->
                </div>
            </div>
        </div>
    </div>
</div>