<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="single-blog">
                    <div class="post-thumb">
                        <img src="assets/images/kanapa.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <div class="entry-header text-center text-uppercase">
                            <a href="/coming-soon" class="post-cat">Travel</a>
                            <h2>Coronavirus Data</h2>
                        </div>
                        <div class="entry-content">
                            <p>We have seen the graph of total cases many times. Of course the main focus has been
                                China, US, Italy and Spain, but the question that everyone has is how my country doing
                                regarding the infection rate, the percentage of new cases versus one day before and the
                                death rate. There are plenty of questions, that make us doubt about the data, if each
                                country is doing the same amount of testing, if the cases are being register on time or
                                not, but for now this is the only data we have. I have put Italy and Spain as reference
                                because we have seen that these two countries have been hit very hard with the
                                Coronavirus crisis. I am glad that Poland rate seems much lower than these countries and
                                it seems that the early adoptions of the quarantine are showing results. The result on
                                Mexico even do are doubtful, due to the limit amount of testing that is being done,
                                shows good results. I hope they are really good and is not that the government that has
                                decided to hide information from the people.
                            </p>
                            </br>
                            <p>Note: This graph is updated daily so my comments might not be accurate at
                                the time you see the graph.</p>

                            <div class="row">
                                <div class="col-sm-12 col-lg">
                                    <div class="chart-container" id="graficaCasos">
                                        <h2>Total COVID-19 Cases</h2>
                                        <div id="loadingGraph" class="loader"></div>
                                        <canvas id="myChart"></canvas>
                                    </div>
                                </div>
                            </div>
                            </br>
                            </br>

                            <div class="row">
                                <div class="col-sm-12 col-lg">
                                    <div class="chart-container" id="graficaPorcentaje">
                                        <h2>Percentage of Increase of Cases compared to Previous Day</h2>
                                        <div id="loadingGraph2" class="loader"></div>
                                        <canvas id="myChart2"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">

                                <div class="col-sm">
                                    <button type="button" class="btn btn-primary" id="percentageItaly">Italy</button>
                                    <button type="button" class="btn btn-primary" id="percentageSpain">Spain</button>
                                    <button type="button" class="btn btn-primary" id="percentageMexico">Mexico</button>
                                    <button type="button" class="btn btn-primary" id="percentagePoland">Poland</button>
                                </div>
                            </div>

                            </br>
                            </br>

                            <h3 class="text-brand">#Zostanwdomu Poland</h3>

                            <p>Google has updated his COVID19 mobility reports on the 9th of April. Poland people are
                                starting to go more for Retail and recreation. The past report was showing a reduction
                                of 78% compared to baseline, the current report now shows 71%. That means there was a 7%
                                more people going outside for these activities. Grocery visits show a very interesting
                                report because last reports show a decrease of 59% but now, we are seeing an increase of
                                41% probably related to Eastern celebration in Poland. Workplace are also showing an
                                increase on mobility, last report shows a reduction of 36% compared to baseline and the
                                current report now shows a 27% reduction. This means more people are going to their
                                workplace compared than before. In the next weeks the activity in Europe will be
                                increasing in workplaces let’s hope the amount of cases and deaths doesn’t increases as
                                much.
                            </p>
                            <img class="post-img img-responsive text-center" src="assets/images/polandgoogle1.jpg"
                                alt="">
                            <img class="post-img img-responsive text-center" src="assets/images/polandgoogle2.jpg"
                                alt="">
                            <h4 class="text-brand">Death Rate Poland</h4>
                            <div id="graficaPolonia"></div>
                            <p>The below graphs are an idea I saw on the Financial Times. These are two graph, new cases
                                and new deaths with a 7-day rolling average, the idea behind these graphs is that these
                                will help to see if we have reach the top of the curve or not. So far what I can see is
                                that the new cases graph in Poland seems to reach the plateau at around 430 new cases
                                per day. Hopefully in the next days, with more work centers operating normal now that
                                the lockdown will be reduce on many countries in Europe we don’t see an increase on this
                                graph. On the second graph on the new deaths per day, that is still not showing signs
                                that we have reach a top. It still seems a growing graph with around 20 new deaths per
                                day. </p>
                            <h4 class="text-brand">New Cases Poland per Day (7-day Rolling Average)</h4>
                            <div id="graficaNuevoscasosPL"></div>
                            <h4 class="text-brand">New Deaths Poland per Day (7-day Rolling Average)</h4>
                            <div id="graficaNuevosdeathsPL"></div>


                            <h3 class="text-brand">#QuedateEnCasa Mexico</h3>
                            <p>In Mexico the #quedateencasa is now showing some effect. The reduction on Retail and
                                recreation activities has gone from 45% to 62%. This should show a reduction of cases in
                                the future weeks. Workplaces mobility is showing also some effect, now with the order of
                                the government to reduce non-essential activities it is also showing a reduction from
                                20% to 27%. Finally, it seems that people are seeing the important of staying at home.
                            </p>

                            <img class="post-img img-responsive text-center" src="assets/images/mxgoogle1.jpg" alt="">
                            <img class="post-img img-responsive text-center" src="assets/images/mxgoogle2.jpg" alt="">
                            <h4 class="text-brand">Death Rate Mexico</h4>
                            <div id="graficaGoogle"></div>

                            <p>For Mexico the two graphs of new cases and new deaths are not bringing good news. Both
                                are showing a trendline of going up. New cases currently at 360 new cases per day and
                                deaths at around 30 new deaths per day are still far from seeing the famous “plateau”
                                that every country is looking </p>
                            <h4 class="text-brand">New Cases Mexico per Day (7-day Rolling Average)</h4>
                            <div id="graficaNuevoscasosMX"></div>
                            <h4 class="text-brand">New Deaths Mexico per Day (7-day Rolling Average)</h4>
                            <div id="graficaNuevosdeathsMX"></div>



                        </div>

                        <div class="post-meta">
                            <ul class="pull-left list-inline author-meta">
                                <li class="author">By <a href="#">Netzwerk </a></li>
                                <li class="date"> On April 12th, 2020</li>
                            </ul>
                            <ul class="pull-right list-inline social-share">
                                {{> social}}
                            </ul>
                        </div>
                    </div>
                </article>


            </div>
            <div class="col-sm-4">
                <div class="kotha-sidebar">
                    <aside class="widget about-me-widget  text-center">
                        {{> about}}
                    </aside>
                    <!--<aside class="widget news-letter-widget">
						<h2 class="widget-title text-uppercase text-center">Get Newsletter</h2>
						<form action="#">
							<input type="email" placeholder="Your email address" required>
							<input type="submit" value="Subscribe Now"
							       class="text-uppercase text-center btn btn-subscribe">
						</form>
					</aside>-->
                    <!--<aside class="widget widget-popular-post">
						{{> popular}}
					</aside>-->
                    <!--<aside class="widget latest-post-widget">
						{{> latest}}
					</aside>-->
                    <aside class="widget insta-widget">
                        {{> insta}}
                    </aside>
                    <!--<aside class="widget add-widget">
						{{> advertisment}}
						</div>
					</aside>-->
                </div>
            </div>
        </div>
    </div>
</div>






<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="/assets/js/corona.js"></script>