<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="single-blog">
                    <div class="post-thumb">
                        <img src="assets/images/kanapa.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <div class="entry-header text-center text-uppercase">
                            <a href="/coming-soon" class="post-cat">Travel</a>
                            <h2>Coronavirus Data</h2>
                        </div>
                        <div class="entry-content">
                            <p>We have seen the graph of total cases many times. Of course the main focus has been
                                China, US, Italy and Spain, but the question that everyone has is how my country doing
                                regarding the infection rate, the percentage of new cases versus one day before and the
                                death rate. There are plenty of questions, that make us doubt about the data, if each
                                country is doing the same amount of testing, if the cases are being register on time or
                                not, but for now this is the only data we have. I have put Italy and Spain as reference
                                because we have seen that these two countries have been hit very hard with the
                                Coronavirus crisis. I am glad that Poland rate seems much lower than these countries and
                                it seems that the early adoptions of the quarantine are showing results. The result on
                                Mexico even do are doubtful, due to the limit amount of testing that is being done,
                                shows good results. I hope they are really good and is not that the government that has
                                decided to hide information from the people.
                            </p>
                            </br>
                            <p>Note: This graph is updated daily so my comments might not be accurate at
                                the time you see the graph.</p>

                            <div class="row">
                                <div class="col-sm-12 col-lg">
                                    <div class="chart-container" id="graficaCasos">
                                        <h2>Total COVID-19 Cases</h2>
                                        <div id="loadingGraph" class="loader"></div>
                                        <canvas id="myChart"></canvas>
                                    </div>
                                </div>
                            </div>
                            </br>
                            </br>

                            <div class="row">
                                <div class="col-sm-12 col-lg">
                                    <div class="chart-container" id="graficaPorcentaje">
                                        <h2>Percentage of Increase of Cases compared to Previous Day</h2>
                                        <div id="loadingGraph2" class="loader"></div>
                                        <canvas id="myChart2"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">

                                <div class="col-sm">
                                    <button type="button" class="btn btn-primary" id="percentageItaly">Italy</button>
                                    <button type="button" class="btn btn-primary" id="percentageSpain">Spain</button>
                                    <button type="button" class="btn btn-primary" id="percentageMexico">Mexico</button>
                                    <button type="button" class="btn btn-primary" id="percentagePoland">Poland</button>
                                </div>
                            </div>

                            </br>
                            </br>

                            <h3 class="text-brand">#Zostanwdomu Poland</h3>

                            <p>Google has launch the COVID19 mobility reports. I think there is very valuable
                                information on these reports to identify if on reality people are staying at home or
                                not. The baseline is the median value, for the corresponding day of the week, during the
                                5- week period Jan 3–Feb 6, 2020. What can we learn for Poland? Mobility to retail and
                                recreation has reduce in 78%, this compared to Spain that has reduce to 94%, there is
                                still area to improve the #stayingathome for these areas. To parks people has just drop
                                to 59%, in Spain this drop has been to 89%. These is most difficult in my opinion
                                because the weather has improve in Poland but if we can reduce the risk of contagious we
                                need to reduce the amount of people going to parks. Regarding workplaces, in Poland the
                                reduction has been 36% compared to Spain that is 64% and this makes perfect sense since
                                we have not been in a total lockdown.
                            </p>
                            <img class="post-img img-responsive text-center" src="assets/images/polandgoogle1.jpg"
                                alt="">
                                 <img class="post-img img-responsive text-center" src="assets/images/polandgoogle2.jpg"
                                alt="">
                            <h4 class="text-brand">Death Rate Poland</h4>
                            <div id="graficaPolonia"></div>
                            <p>This is the death rate of Poland. I have been surprise on the last days that the number
                                of deaths have been more than the trendline. This means that the death rate is
                                increasing compared to the past trend.</p>


                            <h3 class="text-brand">#QuedateEnCasa Mexico</h3>
                            <p>Now let’s see Mexico report. The people reducing the mobility to retail and recreation
                                activities is very low, just a 45% reduction. To parks the reduction has been 46% and to
                                workplaces a 20%. Mexico people are still going out. It is very important to note that
                                unless people stop going out the infection rate will not go down.
                            </p>

                            <img class="post-img img-responsive text-center" src="assets/images/mxgoogle1.jpg" alt="">
                            <img class="post-img img-responsive text-center" src="assets/images/mxgoogle2.jpg" alt="">
                            <h4 class="text-brand">Death Rate Mexico</h4>
                            <div id="graficaGoogle"></div>

                            <p>The death rate in Mexico is something that worries me the most. It is higher than Poland
                                and continues in this same trend. I hope these doesn’t mean that we are neither not
                                treating well our patients or that based on our population characteristics we are less
                                stronger to the Coronavirus. </p>



                        </div>

                        <div class="post-meta">
                            <ul class="pull-left list-inline author-meta">
                                <li class="author">By <a href="#">Netzwerk </a></li>
                                <li class="date"> On April 4th, 2020</li>
                            </ul>
                            <ul class="pull-right list-inline social-share">
                                {{> social}}
                            </ul>
                        </div>
                    </div>
                </article>


            </div>
            <div class="col-sm-4">
                <div class="kotha-sidebar">
                    <aside class="widget about-me-widget  text-center">
                        {{> about}}
                    </aside>
                    <!--<aside class="widget news-letter-widget">
						<h2 class="widget-title text-uppercase text-center">Get Newsletter</h2>
						<form action="#">
							<input type="email" placeholder="Your email address" required>
							<input type="submit" value="Subscribe Now"
							       class="text-uppercase text-center btn btn-subscribe">
						</form>
					</aside>-->
                    <!--<aside class="widget widget-popular-post">
						{{> popular}}
					</aside>-->
                    <!--<aside class="widget latest-post-widget">
						{{> latest}}
					</aside>-->
                    <aside class="widget insta-widget">
                        {{> insta}}
                    </aside>
                    <!--<aside class="widget add-widget">
						{{> advertisment}}
						</div>
					</aside>-->
                </div>
            </div>
        </div>
    </div>
</div>






<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="/assets/js/corona.js"></script>