<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="row">
                        <div class="col-md-6">
                            <article class="single-blog post-grid">
                                <div class="post-thumb">
                                    <a href="/nice-food-restaurant-poland-warsaw-flaming-and-co-with-terrace"><img
                                            src="assets/images/bitesoftheworldmx-flaming-garden-min.JPEG"
                                            alt="Flaming and Co. Restaurant"></a>
                                </div>
                                <div class="post-content">
                                    <div class="entry-header text-center text-uppercase">

                                        <h2><a href="/nice-food-restaurant-poland-warsaw-flaming-and-co-with-terrace">Perfect
                                                Place in Downtown Warsaw</a></h2>
                                    </div>
                                    <div class="entry-content">
                                        <p>
                                            If you are looking for a romantic dinner or a business dinner or a place to
                                            have lunch with the family this is the perfect place. You can relax in the
                                            nice garden while have a nice glass of wine and one the best foods of
                                            Warsaw.
                                        </p>
                                    </div>
                                    <div class="post-meta text-center">
                                        <ul class="list-inline author-meta">
                                            <li class="author">By Netzwwerk </a></li>
                                            <li class="date"> On June 13, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6">
                            <article class="single-blog post-grid">
                                <div class="post-thumb">
                                    <a href="/garden-restaurant-park-cafe-konstancin"><img
                                            src="assets/images/bitesoftheworld-parkcafe-niceview.jpeg"
                                            alt="Park Cafe Restauran Konstancin"></a>
                                </div>
                                <div class="post-content">
                                    <div class="entry-header text-center text-uppercase">
                                        <h2><a href="/garden-restaurant-park-cafe-konstancin">Perfect Place for a
                                                Brunch</a></h2>
                                    </div>
                                    <div class="entry-content">
                                        <p>
                                            The Park Cafe in Konstancin is the perfect place to spend time with friends
                                            and family. It is perfect on these times that we are looking for a social
                                            distancing restaurant with great outdoors and to one side of nice park.
                                        </p>
                                    </div>
                                    <div class="post-meta text-center">
                                        <ul class="list-inline author-meta">
                                            <li class="author">By Netzwerk</li>
                                            <li class="date"> On May 29, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>

                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-6">
                                <article class="single-blog post-grid">
                                    <div class="post-thumb">
                                        <a href="/best-mexican-food-in-warsaw"><img
                                                src="assets/images/bitesoftheworldmx-enchiladas.jpg"
                                                alt="Enchiladas"></a>
                                    </div>
                                    <div class="post-content">
                                        <div class="entry-header text-center text-uppercase">
                                            <h2><a href="/best-mexican-food-in-warsaw">Best Mexican Food In Warsaw</a>
                                            </h2>
                                        </div>
                                        <div class="entry-content">
                                            <p>
                                                Believe it or not you can get very good restaurants of Mexican food in
                                                Warsaw. I
                                                hope you like spicy because in them you can try the real flavors of
                                                Mexico.
                                            </p>
                                        </div>
                                        <div class="post-meta text-center">
                                            <ul class="list-inline author-meta">
                                                <li class="author">By Netzwerk</li>
                                                <li class="date"> On May 23, 2020</li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article class="single-blog post-grid">
                                    <div class="post-thumb">
                                        <a href="/online-classes-during-lockdown"><img
                                                src="assets/images/bitesoftheworldmx-ingredients.jpg"
                                                alt="Ulala Chef"></a>
                                    </div>
                                    <div class="post-content">
                                        <div class="entry-header text-center text-uppercase">

                                            <h2><a href="/online-classes-during-lockdown">Online Cooking Lessons</a>
                                            </h2>
                                        </div>
                                        <div class="entry-content">
                                            <p>
                                                My first experience with cooking lessons was very good. I enjoy the
                                                experience and of course the finish product.
                                            </p>
                                        </div>
                                        <div class="post-meta text-center">
                                            <ul class="list-inline author-meta">
                                                <li class="author">By Netzwwerk </a></li>
                                                <li class="date"> On April 25, 2020</li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <article class="single-blog post-grid">
                                    <div class="post-thumb">
                                        <a href="/steak-at-poland"><img
                                                src="assets/images/bitesoftheworldmx-steak1.jpeg"
                                                alt="Grill at Home"></a>
                                    </div>
                                    <div class="post-content">
                                        <div class="entry-header text-center text-uppercase">
                                            <h2><a href="/steak-at-poland">Find the Best Steak in Poland</a></h2>
                                        </div>
                                        <div class="entry-content">
                                            <p>
                                                Due to the lockdown my grilling at home increase. I look in many places
                                                for
                                                a very good steak. I found some very good places to buy a real good
                                                steak.
                                            </p>
                                        </div>
                                        <div class="post-meta text-center">
                                            <ul class="list-inline author-meta">
                                                <li class="author">By Netzwerk</li>
                                                <li class="date"> On April 13, 2020</li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article class="single-blog post-grid">
                                    <div class="post-thumb">
                                        <a href="/trattoria-da-antonio"><img src="assets/images/tratoria5.jpeg"
                                                alt="Trattoria Da Antonio"></a>
                                    </div>
                                    <div class="post-content">
                                        <div class="entry-header text-center text-uppercase">

                                            <h2><a href="/trattoria-da-antonio">Tratorria Da Antonio</a></h2>
                                        </div>
                                        <div class="entry-content">
                                            <p>
                                                If you are looking for a nice Italian restaurant with good food and good
                                                atmosphere this is the place to go. Trattoria Da Antonio is also a
                                                children
                                                friendly place.
                                            </p>
                                        </div>
                                        <div class="post-meta text-center">
                                            <ul class="list-inline author-meta">
                                                <li class="author">By Netzwwerk </a></li>
                                                <li class="date"> On March 8, 2020</li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>






                        <!--Slider-->
                        <!--div class="col-md-6">
						<article class="single-blog post-grid">
							<div class="post-thumb">
								<div id="blog-gallery-slider" class="carousel slide" data-ride="carousel">
									<Wrapper for slides>
									<div class="carousel-inner">
										<div class="item">
											<img src="assets/images/post-thumb-8.jpg" alt="">
										</div>
										<div class="item">
											<img src="assets/images/post-thumb-9.jpg" alt="">
										</div>
										<div class="item active">
											<img src="assets/images/post-thumb-7.jpg" alt="">
										</div>
									</div>
									<Controls>
									<a class="left carousel-control" href="#blog-gallery-slider" data-slide="prev">
										<i class="fa fa-angle-left"></i>
									</a>
									<a class="right carousel-control" href="#blog-gallery-slider" data-slide="next">
										<i class="fa fa-angle-right"></i>
									</a>
								</div>
							</div>
							<div class="post-content">
								<div class="entry-header text-center text-uppercase">
									<a href="" class="post-cat">Slider</a>
									<h2><a href="single-page.html">Awesome slider post</a></h2>
								</div>
								<div class="entry-content">
									<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
										gubergren, seoa takimata
										sanctus Lorem ipsum dolor sit amet, ipsum dolor sit amet.
									</p>
								</div>
								<div class="post-meta text-center">
									<ul class="list-inline author-meta">
										<li class="author">By <a href="#">Jennifer </a></li>
										<li class="date"> On February 12, 2017</li>
									</ul>
								</div>
							</div>
						</article>
					</div-->
                        <!--Pagination-->
                        <!--div class="col-md-12">
						<div class="post-pagination  clearfix">
							<ul class="pagination text-left">
								<li><a href="#">1</a></li>
								<li class="active"><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
							</ul>
						</div>
					</div-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="kotha-sidebar">
                        <aside class="widget about-me-widget  text-center">
                            {{>about}}
                        </aside>
                        <!--Newsletter
					<aside class="widget news-letter-widget">
						<h2 class="widget-title text-uppercase text-center">Get Newsletter</h2>
						<form action="#">
							<input type="email" placeholder="Your email address" required>
							<input type="submit" value="Subscribe Now"
							       class="text-uppercase text-center btn btn-subscribe">
						</form>
					</aside-->
                        <aside class="widget widget-popular-post">
                            {{>popular}}
                        </aside>
                        <aside class="widget latest-post-widget">
                            {{>latest}}
                        </aside>
                        <aside class="widget insta-widget">
                            {{>insta}}
                        </aside>
                        <!--Advertisement-->
                        <!--aside class="widget add-widget">
						<h2 class="widget-title text-uppercase text-center">Advertisement</h2>

						<div class="add-image">
							<a href=""><img src="assets/images/add-image.jpg" alt=""></a>
						</div>
					</aside-->
                    </div>
                </div>
            </div>
        </div>
    </div>