<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="single-blog">
                    <div class="post-thumb">
                        <img src="assets/images/bitesoftheworldmx-tacospastor.png" alt="Tacos de Pastor">
                    </div>
                    <div class="post-content">
                        <div class="entry-header text-center text-uppercase">
                            <a href="/coming-soon" class="post-cat">Food</a>
                            <h1>Best Mexican Food in Warsaw</h1>
                        </div>

                        <div class="entry-content">
                            <h3 class="text-brand">My Favorite Food</h3>
                            <p>
                                When you start a journey out of your country you miss a lot of things. To some of them
                                you can get used to like the weather, but other like <b>food</b> you will always miss
                                them. That is why for me trying to find <em>Mexican Food</em> was one of the main tasks
                                when I started to live in <b>Warsaw</b>. The challenge for the chefs that put <b>Mexican
                                    Restaurants</b> outside <em>Mexico</em> is huge because they have the restriction to
                                get the same ingredients, but so far my experience in <em>Warsaw</em> with the
                                <b>Mexican Food</b> has been amazing. To be fair I haven’t visit all the <b>Mexican
                                    Restaurants</b> in <em>Warsaw</em>, so I will tell you two that I really recommend
                                Dos Tacos and Ye-Ye.
                            </p>
                            <div itemscope itemtype="https://schema.org/Review">
                                <div itemprop="itemReviewed" itemscope itemtype="https://schema.org/Restaurant">
                                    <img itemprop="image" class="post-img img-responsive text-center"
                                        src="assets/images/bitesoftheworldmx-flan.jpg" alt="Dessert Flan">

                                    <h3 class="text-brand"><span itemprop="name">Dos Tacos</span></h3>
                                </div>

                                <span itemprop="reviewBody">
                                    <p>
                                        As it name, <b>Dos Tacos</b> specialty is <em>Tacos</em>. I like the
                                        <em>Cochinita Pibil, al Pastor and Carnitas Tacos</em>. Their salsas are the
                                        closest you
                                        can get to a Mexican salsa in <b>Warsaw</b>. If you just like to add flavor
                                        try
                                        the
                                        <em>Verde Salsa</em> but if you like spicy try the <em>Yucatan Salsa</em>,
                                        try
                                        it with
                                        cautious because it is really spicy. The <em>Pozole</em> is not close to
                                        what
                                        the real
                                        <em>Pozole</em> is but the taste is really good and just like in
                                        <b>Mexico</b>
                                        you
                                        can cure a hangover with it. Another dish I would recommend very much is the
                                        <em></em>. This dish is enough to share for two and all the flavors combined
                                        gives the idea of the <em>Mexican Food</em>. For last, I would recommend the
                                        <em>Flan</em> a dessert, this is really good, just like if you were in
                                        <b>Mexico</b>.
                                        For more information you can visit their website <a
                                            href="http://www.dostacos.pl/">
                                            http://www.dostacos.pl</a>
                                    </p>
                                </span>


                            </div>

                            <img class="post-img img-responsive text-center"
                                src="assets/images/bitesoftheworldmx-enchiladas.jpg" alt="Enchiladas">


                            <h3 class="text-brand">Ye-Ye</h3>
                            <p>
                                For the best two dishes of <em>Ye-Ye</em> are <em>Enchiladas
                                    Verdes</em> and
                                <em>Enmoladas</em>. The <em>Enchiladas Verdes</em> are
                                spicy, but have a very good
                                taste. The <em>Enmoladas</em> for me are one of the most difficult creations. Trying
                                <em>Mole</em> outside <b>Mexico</b> is really a challenge and <em>Ye-Ye</em> makes
                                it
                                taste just like home. The drinks in <em>Ye-Ye</em> are also worth ordering, I would
                                recommend the Margarita in all of their flavors. For more information you can visit
                                their website <a href="http://yeye.waw.pl/" itemprop="url">http://yeye.waw.pl/</a>
                            </p>
                            </br>

                            <h3 class="text-brand">Smacznego!</h3>
                            <p>
                                Now if you are a fan of <em>Mexican Food</em> I would recommend a webpage to buy
                                authentic ingredients. The provider is Ibernia,
                                their
                                webpage is <a href="https://ibernia.pl/" itemprop="url">https://ibernia.pl/</a>, in
                                this
                                page you can order items
                                that are bring directly from Mexico. From candy, chiles, Clamato and other stuff.
                                Their
                                service is good and the delivery is very fast.
                            </p>







                            <div class="post-meta">
                                <ul class="pull-left list-inline author-meta">
                                    <li class="author">By <a href="#">Netzwerk </a></li>
                                    <li class="date"> On May 23th, 2020</li>
                                </ul>
                                <ul class="pull-right list-inline social-share">
                                    {{> social}}
                                </ul>
                            </div>
                        </div>
                </article>


            </div>
            <div class="col-sm-4">
                <div class="kotha-sidebar">
                    <aside class="widget about-me-widget  text-center">
                        {{> about}}
                    </aside>

                    <aside class="widget insta-widget">
                        {{> insta}}
                    </aside>

                </div>
            </div>
        </div>
    </div>
</div>