<div itemscope itemtype="http://schema.org/BlogPosting" class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="single-blog">
                    <div id="infoBlog" style="display: none;">
                        <span itemprop="datePublished">2020-05-29</span>
                        <span itemprop="dateModified">2020-05-29</span>
                        <span itemprop="author">Bites of the World</span>
                        <a itemprop="mainEntityofPage"
                            href="https://www.bitesoftheworld.mx/garden-restaurant-park-cafe-konstancin">https://www.bitesoftheworld.mx/garden-restaurant-park-cafe-konstancin</a>
                        <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                            <span itemprop="name">Bites of the World</span>
                            <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                                <img itemprop="url" src="assets/images/Galleta_recorte.jpg"
                                    alt="Logo Bites of the World">
                            </div>

                        </div>

                    </div>
                    <div class="post-thumb">
                        <img itemprop="image" src="assets/images/bitesoftheworldmx-parkcafe-salmon.jpeg"
                            alt="Park Cafe Salmon">
                    </div>
                    <div class="post-content">
                        <div class="entry-header text-center text-uppercase">
                            <a href="/food-post" class="post-cat">Food</a>
                            <h1><span itemprop="headline">Nice Restaurant with Cafe - Park Cafe</span></h1>
                        </div>

                        <div class="entry-content">
                            <h3 class="text-brand">Restaurant with Greath Atmosphere</h3>
                            <p>
                                If you are looking for place where you can fell in the forest, where you can have a wine
                                or a beer in a great atmosphere the <a href="https://parkcafe.pl/">Park Cafe Konstancin</a> a is the place to be. The
                                restaurant is a neoclassical village and around it there is a large garden. The tables
                                are in the garden keeping the social distancing, so if you are worried about Coronavirus
                                this can be one of the first <em>restaurants</em> that you can try. The service is very
                                good and the food is delicious.
                            </p>


                            <img itemprop="image" class="post-img img-responsive text-center"
                                src="assets/images/bitesoftheworldmx-parkcafe-drink.jpeg" alt="Park Cafe Drink">

                            <h3 class="text-brand">What to Eat</h3>



                            <p>
                                My recommendation this time will be the salmon. It was delicious with the apple sauce
                                around that give a unique combination of flavors. My wife order the Polish Duck and she
                                mention that it was also very good, one of the best she had tried in <em>Poland</em>. My
                                little kid order the Peperoni Pizza, I try a slice and it was very good, if you like
                                thin pizzas like me.
                            </p>








                            <img class="post-img img-responsive text-center"
                                src="assets/images/bitesoftheworldmx-parkcafe-dessert.jpeg" alt="Park Cafe Dessert">


                            <h3 class="text-brand">Dessert</h3>


                            <p>
                                They sell ice creams also in the Park Cafe, but this time I tasted the <em>Apple
                                    Pie</em> which by the way was good, not the best I have tried but it was good. Also
                                one of the extra items of this <em>restaurant</em> is that is <em>children
                                    friendly</em>. There is a soccer goal and ball where they can play and of course a
                                lot of garden where they run. Definitely a place to go with the family.
                            </p>


                            </br>

                            <h3 class="text-brand">Smacznego!</h3>
                            <p>
                                The Park Cafe is in the beautiful Zdrojowy Park. Make sure to take you bicycle because
                                it is a very nice place to take a ride. There is plenty of space and now it is time to
                                take the advantage of the nice weather in <em>Warsaw</em>.
                            </p>

                            <div class="post-meta">
                                <ul class="pull-left list-inline author-meta">
                                    <li class="author">By Netzwerk</li>
                                    <li class="date">On May 29, 2020</li>
                                </ul>
                                <ul class="pull-right list-inline social-share">
                                    {{> social}}
                                </ul>
                            </div>
                        </div>
                </article>


            </div>
            <div class="col-sm-4">
                <div class="kotha-sidebar">
                    <aside class="widget about-me-widget  text-center">
                        {{> about}}
                    </aside>

                    <aside class="widget insta-widget">
                        {{> insta}}
                    </aside>

                </div>
            </div>
        </div>
    </div>
</div>