<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="single-blog">
                    <div class="post-thumb">
                        <img src="assets/images/bitesoftheworldmx-steak2.jpeg" alt="">
                    </div>
                    <div class="post-content">
                        <div class="entry-header text-center text-uppercase">
                            <a href="/coming-soon" class="post-cat">Food</a>
                            <h1>Having a Good Steak at Warsaw</h1>
                        </div>

                        <div class="entry-content">
                            <h3 class="text-brand">Preparation</h3>
                            <p>When I arrived to Warsaw, I didn’t bring my grill with me. On the apartment that I live,
                                grilling with charcoal is prohibited so I decide to buy a gas grill for the first time.
                                In <b>Mexico</b> I had a <em>Weber</em> grill and therefore this is what I look at
                                <b>Warsaw</b>. I recommend the <em>Top Grille Weber Store</em>, you can find the
                                information at <a href="https://www.top-grille.pl/"> https://www.top-grille.pl/</a> .
                                This store has very good selection of grills and it has all the accessories that you
                                will require like, thermometers, cutlery sets, barbeques sauces and more. If you are
                                buying for the first time all the necessary equipment this is the store to go.</p>
                            <img class="post-img img-responsive text-center"
                                src="assets/images/bitesoftheworldmx-steak4.jpeg" alt="">


                            <h3 class="text-brand">Finding the Right Steak</h3>
                            My adventure to find a good steak in <b>Warsaw</b> has been challenging. It is not as easy
                            as <b>Mexico</b> where you can find a Angus Beef at HEB and you know it will be a very good
                            steak. Many people have advised me to go to a butchery, but I haven’t done it yet. So the
                            two places so far I recommend to get a good steak is at Top Grille as I mention before. They
                            have a variety of selection of different cuts from many parts of the world; USA, Canada,
                            Australia, etc. The second option and that I try it this time is the <a
                                href="https://steakclub.pl/">Steak Club</a>. The <em>Steak Club</em> is a online
                            butchery. The
                            service is very good, you just need to order with 2 to 3 days before you need the meat and
                            they delivery the meat very nice packaged. This time I order a <em>Brisket</em>. This was
                            the first time I try to grill a <em>brisket</em>.
                            <img class="post-img img-responsive text-center"
                                src="assets/images/bitesoftheworldmx-steak3.jpeg" alt="">
                            

                            <h3 class="text-brand">The Grill</h3>
                            <p>Besides the grill my wife also proposed that we do some <em>skewer shrips</em>. She has a
                                very nice recipe to do these shrimps, with some barbeque sauce and pineapple. We have a
                                very nice meal, with the brisket and the shrimps. Also, we have some grill corn, that
                                after putting some chilling and lemon they were delicious.</p>
                            <video width="320" height="240" controls>
                                <source src="assets/images/bitesoftheworldmx-steak5.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>

                            <h3 class="text-brand">#StayatHome</h3>
                            <p>Remember stay at home, do some grilling by your own or buy from the local restaurants. By
                                the way I found a very nice webpage <a href” https://roomservice.pl/”>Room Service</a>.
                                They have a good variety of restaurants to order take away food. From my point of view,
                                they had more options that <em>Uber Eats</em>.</p>




                        </div>

                        <div class="post-meta">
                            <ul class="pull-left list-inline author-meta">
                                <li class="author">By <a href="#">Netzwerk </a></li>
                                <li class="date"> On April 13th, 2020</li>
                            </ul>
                            <ul class="pull-right list-inline social-share">
                                {{> social}}
                            </ul>
                        </div>
                    </div>
                </article>


            </div>
            <div class="col-sm-4">
                <div class="kotha-sidebar">
                    <aside class="widget about-me-widget  text-center">
                        {{> about}}
                    </aside>

                    <aside class="widget insta-widget">
                        {{> insta}}
                    </aside>

                </div>
            </div>
        </div>
    </div>
</div>