<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="row">
                        <div class="col-md-6">
                            <article class="single-blog post-grid">
                                <div class="post-thumb text-center">
                                    <a href="/kindle-books-must-read-management"><img
                                            src="assets/images/bitesoftheworld-ninelies-min.jpg"
                                            style="width:50%;height:auto" alt="Must Read Management Books"></a>
                                </div>
                                <div class="post-content">
                                    <div class="entry-header text-center text-uppercase">
                                        <h2><a href="/kindle-books-must-read-management">Management Books to Read While
                                                Traveling</a></h2>
                                    </div>
                                    <div class="entry-content">
                                        <p>
                                            Love reading while traveling? Find here a selection of the must read
                                            management books you can find in Kindle.
                                        </p>
                                    </div>
                                    <div class="post-meta text-center">
                                        <ul class="list-inline author-meta">
                                            <li class="author">By Netzwerk</li>
                                            <li class="date"> On Jun 5, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6">
                            <article class="single-blog post-grid">
                                <div class="post-thumb">
                                    <a href="/coronavirus-statistics-testing-poland-and-mexico"><img
                                            src="assets/images/bitesoftheworldmx-coronavirus.png"
                                            alt="Coronavirus Data"></a>
                                </div>
                                <div class="post-content">
                                    <div class="entry-header text-center text-uppercase">

                                        <h2><a href="/coronavirus-statistics-testing-poland-and-mexico">Coronavirus
                                                Data</a></h2>
                                    </div>
                                    <div class="entry-content">
                                        <p>
                                            Find the data regarding Coronavirus in Poland and in Mexico. This is the
                                            same graphs as the Financial Times but only focusing on these 2 countries.
                                            Have we flattening the curve?
                                        </p>
                                    </div>
                                    <div class="post-meta text-center">
                                        <ul class="list-inline author-meta">
                                            <li class="author">By Netzwwerk </a></li>
                                            <li class="date"> On May 2, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <article class="single-blog post-grid">
                                <div class="post-thumb">
                                    <a href="/data-coronavirus-poland-and-mexico"><img
                                            src="assets/images/coronavirus.jpg" alt="Coronavirus Data Part 1"></a>
                                </div>
                                <div class="post-content">
                                    <div class="entry-header text-center text-uppercase">
                                        <h2><a href="/data-coronavirus-poland-and-mexico">Coronavirus Data Part 1</a>
                                        </h2>
                                    </div>
                                    <div class="entry-content">
                                        <p>
                                            How is the mobility in Poland and Mexico? What does the data of new cases
                                            and death rate tells us for Poland and Mexico?
                                        </p>
                                    </div>
                                    <div class="post-meta text-center">
                                        <ul class="list-inline author-meta">
                                            <li class="author">By Netzwerk</li>
                                            <li class="date"> On April 12, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!--div class="col-md-6">
                            <article class="single-blog post-grid">
                                <div class="post-thumb">
                                    <a href="/trattoria-da-antonio"><img src="assets/images/tratoria5.jpeg"
                                            alt="Trattoria Da Antonio"></a>
                                </div>
                                <div class="post-content">
                                    <div class="entry-header text-center text-uppercase">

                                        <h2><a href="/trattoria-da-antonio">Tratorria Da Antonio</a></h2>
                                    </div>
                                    <div class="entry-content">
                                        <p>
                                            If you are looking for a nice Italian restaurant with good food and good
                                            atmosphere this is the place to go. Trattoria Da Antonio is also a children
                                            friendly place.
                                        </p>
                                    </div>
                                    <div class="post-meta text-center">
                                        <ul class="list-inline author-meta">
                                            <li class="author">By Netzwwerk </a></li>
                                            <li class="date"> On March 8, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div-->
                    </div>






                    <!--Slider-->
                    <!--div class="col-md-6">
						<article class="single-blog post-grid">
							<div class="post-thumb">
								<div id="blog-gallery-slider" class="carousel slide" data-ride="carousel">
									<Wrapper for slides>
									<div class="carousel-inner">
										<div class="item">
											<img src="assets/images/post-thumb-8.jpg" alt="">
										</div>
										<div class="item">
											<img src="assets/images/post-thumb-9.jpg" alt="">
										</div>
										<div class="item active">
											<img src="assets/images/post-thumb-7.jpg" alt="">
										</div>
									</div>
									<Controls>
									<a class="left carousel-control" href="#blog-gallery-slider" data-slide="prev">
										<i class="fa fa-angle-left"></i>
									</a>
									<a class="right carousel-control" href="#blog-gallery-slider" data-slide="next">
										<i class="fa fa-angle-right"></i>
									</a>
								</div>
							</div>
							<div class="post-content">
								<div class="entry-header text-center text-uppercase">
									<a href="" class="post-cat">Slider</a>
									<h2><a href="single-page.html">Awesome slider post</a></h2>
								</div>
								<div class="entry-content">
									<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
										gubergren, seoa takimata
										sanctus Lorem ipsum dolor sit amet, ipsum dolor sit amet.
									</p>
								</div>
								<div class="post-meta text-center">
									<ul class="list-inline author-meta">
										<li class="author">By <a href="#">Jennifer </a></li>
										<li class="date"> On February 12, 2017</li>
									</ul>
								</div>
							</div>
						</article>
					</div-->
                    <!--Pagination-->
                    <!--div class="col-md-12">
						<div class="post-pagination  clearfix">
							<ul class="pagination text-left">
								<li><a href="#">1</a></li>
								<li class="active"><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
							</ul>
						</div>
					</div-->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="kotha-sidebar">
                    <aside class="widget about-me-widget  text-center">
                        {{>about}}
                    </aside>
                    <!--Newsletter
					<aside class="widget news-letter-widget">
						<h2 class="widget-title text-uppercase text-center">Get Newsletter</h2>
						<form action="#">
							<input type="email" placeholder="Your email address" required>
							<input type="submit" value="Subscribe Now"
							       class="text-uppercase text-center btn btn-subscribe">
						</form>
					</aside-->
                    <aside class="widget widget-popular-post">
                        {{>popular}}
                    </aside>
                    <aside class="widget latest-post-widget">
                        {{>latest}}
                    </aside>
                    <aside class="widget insta-widget">
                        {{>insta}}
                    </aside>
                    <!--Advertisement-->
                    <!--aside class="widget add-widget">
						<h2 class="widget-title text-uppercase text-center">Advertisement</h2>

						<div class="add-image">
							<a href=""><img src="assets/images/add-image.jpg" alt=""></a>
						</div>
					</aside-->
                </div>
            </div>
        </div>
    </div>
</div>