<div class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="single-blog">
                    <div class="post-thumb">
                        <img src="assets/images/bitesoftheworldmx-ulalachef.jpeg" alt="">
                    </div>
                    <div class="post-content">
                        <div class="entry-header text-center text-uppercase">
                            <a href="/coming-soon" class="post-cat">Food</a>
                            <h2>Online Cooking Lesson</h2>
                        </div>

                        <div class="entry-content">
                            <h3 class="text-brand">Presentation</h3>
                            <p>
                                The whole experience of this cooking lesson was very nice. All the ingredients came on a
                                box, very nice packed. Everything that you need came in and the cost was 99 PLN for a
                                lunch for 2. The class was held by chef <em>Karol Okrasa</em>. The class was very well
                                explained and it was fun to follow it with you beloved ones. The meal was <em>Express
                                    Stir Fry With Duck in Ginger Sauce</em> and as dessert <em>Broken Charlotte</em>.
                            </p>
                            <img class="post-img img-responsive text-center"
                                src="assets/images/bitesoftheworldmx-ingredients.jpg" alt="">


                            <h3 class="text-brand">The Experience</h3>
                            <p>
                                The <em>online cooking</em> class was a better experience that what I thought. It was
                                easy to follow and during the class my wife and I have a very nice time working on the
                                dishes together. She is very good at the kitchen, and me I will “burn” water, so for me
                                it was quite an achievement to prepare the duck and the dessert.
                            </p>
                            <img class="post-img img-responsive text-center"
                                src="assets/images/bitesoftheworldmx-part1.jpeg" alt="">


                            <h3 class="text-brand">The End Product</h3>
                            <p>
                                I think the best part of the <em>online cooking</em> is eating the something that you
                                prepare. For us the food was <em>delicious</em>. The duck with the rice noodles have a
                                excellent flavor. I would definitely try to do it again.
                            </p>
                            <img class="post-img img-responsive text-center"
                                src="assets/images/bitesoftheworldmx-duck.jpg" alt="">


                            <h3 class="text-brand">Smacznego!</h3>
                            <p>
                                From now on, I will finish my post with a extra comment. I will call this comment the
                                Smacznego comment. Besides doing <em>online cooking</em> I have also tried <em>online
                                    fitness</em>. I highly recommend the Heather Robertson workout classes; you can find
                                the link <a href="https://heatherrobertson.com/">here</a>. I am a very amateur fitness
                                persons, as a reference for you.
                            </p>




                        </div>

                        <div class="post-meta">
                            <ul class="pull-left list-inline author-meta">
                                <li class="author">By <a href="#">Netzwerk </a></li>
                                <li class="date"> On April 25th, 2020</li>
                            </ul>
                            <ul class="pull-right list-inline social-share">
                                {{> social}}
                            </ul>
                        </div>
                    </div>
                </article>


            </div>
            <div class="col-sm-4">
                <div class="kotha-sidebar">
                    <aside class="widget about-me-widget  text-center">
                        {{> about}}
                    </aside>

                    <aside class="widget insta-widget">
                        {{> insta}}
                    </aside>

                </div>
            </div>
        </div>
    </div>
</div>