<div itemscope itemtype="http://schema.org/BlogPosting" class="kotha-default-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="single-blog">
                    <div id="infoBlog" style="display: none;">
                        <span itemprop="datePublished">2020-09-20</span>
                        <span itemprop="dateModified">2020-09-20</span>
                        <span itemprop="author">Bites of the World</span>
                        <a itemprop="mainEntityofPage"
                            href="https://www.bitesoftheworld.mx/be-happy-in-zakopane-lake-morskie-oko-gravitational-slide">https://www.bitesoftheworld.mx/be-happy-in-zakopane-lake-morskie-oko-gravitational-slide"</a>
                        <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                            <span itemprop="name">Bites of the World</span>
                            <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                                <img itemprop="url" src="assets/images/Galleta_recorte.jpg"
                                    alt="Logo Bites of the World" title="Logo Bites of the World">
                            </div>

                        </div>

                    </div>
                    <div class="post-thumb text-center">
                        <img itemprop="image" src="assets/images/bitesoftheworldmx-zakopane-morskie-oko-min.jpeg"
                            alt="Lake Morskie Oko" title="Lake Morskie Oko">
                    </div>
                    <div class="post-content">
                        <div class="entry-header text-center text-uppercase">
                            <a href="/travel-post" class="post-cat">Travel</a>
                            <h1><span itemprop="headline">Zakopane Mountains and Lakes</span>
                            </h1>
                        </div>

                        <div class="entry-content">
                            <h2 class="text-brand">Visit Zakopane</h2>
                            <p>
                                <span itemprop="articlebody">
                                    This was our second visit to <strong>Zakopane</strong> since we arrive in Poland in
                                    2019. The first
                                    one was in December with the idea to go skiing, but this one we did it on the 22 of
                                    August to 2020 to visit <strong>Lake Morskie Oko</strong>. It was just a weekend
                                    trip just perfect
                                    for what we want it to do. We stay on the <a
                                        href="http://apartamentyzakopianskietarasy.pl/" title="Zakopianskie Tarasy"
                                        rel="external"> Zakopianskie Tarasy</a> apartments. The place
                                    is just beautiful, with one of the most beautiful views of the majestic peaks fo
                                    the
                                    <em>Tatra Mountains</em>. They are located just a 5-minute walk to the famous
                                    <em>Krupowki
                                        street</em>
                                    in which you can find a variety of shops and restaurants. Children friendly
                                    place
                                    since it has a playground where the kid can have fun. Definitely a place we will
                                    stay again if we return

                                    back to visit <strong>Zakopane</strong> in the future.
                                </span>
                            </p>


                            <img class="post-img img-responsive text-center"
                                src="assets/images/bitesoftheworldmx-zakopane-apartment-min.jpg"
                                alt="Zakopianskie Tarasy" title="Zakopianskie Tarasy">

                            <h2 class="text-brand">Lake Morskie Oko</h2>



                            <p>
                                <strong>Morskie Oko</strong> in Slavic means the “Eye of the Sea”, it is the most
                                extensive lake and the
                                fourth one of the deepest of the <em>Tatra Mountains</em>. It has been recognized by the
                                Wall
                                Street Journal as one of the five most beautiful lakes in the world. The trail distance
                                is 7.7 km and the estimated walking time is 2 hours and 30 minutes. If you have small
                                children you can pay the horse carriage to take you up, the cost if of 50 PLN to go up
                                and 30 PLN for going down (quite expensive). The day we went it was beautiful since it
                                was sunny but the temperature was not that high around 20° Celsius. Once you arrive at
                                the lake the view is just beautiful, you can rest, eat and take a beer, or you can
                                decide to go around the lake. We decide to trail all around the lake, my kids, 10 and 6
                                have great fun going thru the trails and watching the views of the mountains and the
                                waterfalls around it.
                            </p>


                            <img class="post-img img-responsive text-center"
                                src="assets/images/bitesoftheworldmx-zakopane-morskie-min.jpeg" alt="Morskie Oko Lake"
                                title="Morskie Oko Lake">


                            <h2 class="text-brand">Krupowki Street</h2>


                            <p>
                                Krupowki Street is the heart of <strong>Zakopane</strong>. Closed to traffic, paved with
                                granite cube is
                                a place visited by every tourist staying in <strong>Zakopane</strong>. We have dinner
                                there in the
                                <a href="https://www.gazdowokuznia.pl/" title="Gazodwo Kuznia" rel="external">Gazdowo
                                    Kuznia</a>. This restaurant is located in one of the oldest buildings in
                                <strong>Zakopane</strong>
                                (1891) was the first hotel located “Pod Giewontem”. We have an excellent dinner. We
                                order Rosol, which is a broth (chicken soup) with noodles, one of my favorites soups in
                                Poland, and this one from Gazdowo was particularly good. I order for my only but my kids
                                once they try it also want one for them. I try the Pork Knuckle and my son Santiago,
                                which is 10, order the roasted duck. Everything was delicious are very well served. I
                                have a sampler of Gimberger beer, the Rouge beer surprise me positively, it is an
                                aromatic beer with palpable strawberry, cranberry, and elderberry notes.
                            </p>

                            <img class="post-img img-responsive text-center"
                                src="assets/images/bitesoftheworldmx-zakopane-rosol-min.jpeg"
                                alt="Zakopane Rosol" title="Zakopane Rosol">

                            <h2 class="text-brand">Gubalowka</h2>


                            <p>
                                The next day we went to Gubalowka mountain. From the apartment, we stay probably was a 7
                                min walk to get to the funicular that will take you up. It offers a spectacular view of
                                the Tatras and <strong>Zakopane</strong>. At the top, there are some restaurants and
                                shops but also you
                                get a chance to get into the Gravitational Slide. The slide is super fun for the kids, I
                                will say is a must when you take your kids to <strong>Zakopane</strong>.
                            </p>

                            <iframe width="560" height="315" src="https://www.youtube.com/embed/rH470-XMlFk"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>


                            </br>

                            <h3 class="text-brand">Smacznego!</h3>
                            <p>
                                As a final note, I will need to say that <strong>Zakopane</strong> has other interesting
                                things to do
                                with kids, like going to the pools. Definitely is a place where you can have a lot of
                                fun.
                            </p>

                            <div class="post-meta">
                                <ul class="pull-left list-inline author-meta">
                                    <li class="author">By Netzwerk</li>
                                    <li class="date">On September 20, 2020</li>
                                </ul>
                                <ul class="pull-right list-inline social-share">
                                    {{> social}}
                                </ul>
                            </div>
                        </div>
                </article>


            </div>
            <div class="col-sm-4">
                <div class="kotha-sidebar">
                    <aside class="widget about-me-widget  text-center">
                        {{> about}}
                    </aside>

                    <aside class="widget insta-widget">
                        {{> insta}}
                    </aside>
                    <!--Popular Post-->

                    <aside class="widget widget-popular-post">
                        {{> popular}}
                    </aside>
                    <!--Latest Post-->

                    <aside class="widget latest-post-widget">
                        {{> latest}}
                    </aside>

                    <aside class="widget add-widget">
                        {{> advertisment}}
                    </aside>

                </div>
            </div>
        </div>
        <div id="amzn-assoc-ad-2377fbe1-996a-4f4b-b323-66f2e3660f8e"></div>
    </div>
</div>

<